{% extends "base.html" %}
{% load static %}
{% load compress %}
{% block imports %}
{{ block.super }}
    {% compress css %}
        <link type="text/x-scss"
              rel="stylesheet"
              href="{% static 'scss/account.scss' %}">
    {% endcompress %}
{% endblock imports %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <div class="auth">
        <h1 class="text-center h3 mb-4">Register</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
                {{ field }}
            {% endfor %}
            <input class="btn btn-primary login-button"
                   type="submit"
                   value="Register" />
        </form>
        <p class="text-center mt-4">
            Already register? <a class="link" href="{% url 'account:login' %}">Login</a>
        </p>
    </div>
{% endblock content %}
