@import "custom";

$body-bg-color: #19376D;
$body-text-color: #A5D7E8;
$dark-bg-color: #0B2447;
$dark-link-color: rgb(115, 152, 164);
$active-link-color: #A5D7E8;
$primary-btn-bg-color: #A5D7E8;
$primary-btn-border-color: #A5D7E8;
$primary-btn-text-color: #0B2447;
$primary-btn-hover-bg-color: #576CBC;
$primary-btn-hover-border-color: #576CBC;
$primary-btn-hover-text-color: #0B2447;
$primary-text-color: #A5D7E8;
$alert-border-radius: 15px;
$navbar-toggler-color: #A5D7E8;
$input-border-radius: 15px;
$input-bg-color: #A5D7E8;
$input-border-color: #A5D7E8;
$input-text-color: #0B2447;
$input-hover-border-color: #576CBC;
$input-hover-bg-color: #576CBC;
$input-hover-text-color: #0B2447;
$link-color: #A5D7E8;
$link-border-color: transparent;
$link-hover-color: #fff;
$link-hover-border-color: #A5D7E8;

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}

.bg-dark {
    background-color: $dark-bg-color !important;
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $dark-link-color;
            padding: 6px 2px 2px 2px;
            margin: 0 6px 0 6px;
            border-bottom: 2px solid transparent;

            &:hover {
                color: $active-link-color;
                border-bottom: 2px solid;
                transition: 0.1s;
            }
        }

        .active {
            color: $active-link-color;
            border-bottom: 2px solid;
        }
    }

    .navbar-brand {
        color: $active-link-color;
    }
}

.btn {
    border-radius: 15px;
}

.btn-primary {
    background-color: $primary-btn-bg-color !important;
    border-color: $primary-btn-border-color !important;
    color: $primary-btn-text-color !important;

    &:hover {
        background-color: $primary-btn-hover-bg-color !important;
        border-color: $primary-btn-hover-border-color !important;
        color: $primary-btn-hover-text-color !important;
    }
}

.btn-outline-primary{
    background-color: transparent !important;
    border-color: $primary-btn-border-color !important;
    color: $primary-btn-border-color !important;

    &:hover {
        background-color: $primary-btn-hover-bg-color !important;
        border-color: $primary-btn-hover-border-color !important;
        color: $primary-btn-hover-text-color !important;
    }
}

.text-primary {
    color: $primary-text-color !important;
}

.alert {
    border-radius: $alert-border-radius;
}

.navbar-toggler {
    color: $navbar-toggler-color;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: $input-border-radius;
    border: none;
    padding: 0.5rem;
}

p {
    color: $dark-link-color;
}

.link {
    color: $link-color;
    border-bottom: 2px solid $link-border-color;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        border-bottom: 2px solid $link-hover-border-color;
        transition: 0.1s;
    }
}

.modal-dialog{
    max-width: 900px;
    .modal-header, .modal-footer {
        border-color: #A5D7E8!important;
    }
    .modal-content{
        background-color: #19376D!important;
        border-radius: 15px;
    }
}

.text-justify{
    text-align: justify;
}
