@import "custom";

body {
    background-color: #19376D;
    color: #A5D7E8;
}

.bg-dark {
    background-color: #0B2447 !important;
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: rgb(115, 152, 164);
            padding: 6px 2px 2px 2px;
            margin: 0 6px 0 6px;

            &:hover {
                color: #A5D7E8;
                border-bottom: 2px solid;
                transition: 0.1s;
            }
        }

        .active {
            color: #A5D7E8;
            border-bottom: 2px solid;
        }
    }

    .navbar-brand {
        color: #A5D7E8;
    }
}

.btn {
    border-radius: 15px;
}

.btn-primary {
    background-color: #A5D7E8 !important;
    border-color: #A5D7E8 !important;
    color: #0B2447 !important;

    &:hover {
        background-color: #576CBC !important;
        border-color: #576CBC !important;
        color: #0B2447 !important;
    }
}

.text-primary {
    color: #A5D7E8 !important;
}

.alert {
    border-radius: 15px;

}

.navbar-toggler {
    color: #A5D7E8;
}
