@mixin not-last-child($selector) {
    & #{$selector}:not(:last-child) {
      @content;
    }
  }

.textarea-container {
    textarea {
        width: 100%;
        height: 100%;
        min-height: 320px;
        border: none;
        resize: none;
        outline: none;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        background-color: #0B2447;
        border-radius: 20px;
        padding: 1rem;

        &::placeholder {
            color: rgb(115, 152, 164);
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
        }

        &.code {
            font-family: 'Roboto Mono', monospace;
            font-size: small;
        }
    }
}

.actions {
    @include not-last-child('.btn') {
        margin-right: 10px;
    }
}

.textarea-container {
    position: relative;
}

.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    width: 2rem;
    height: 2rem;
}

.alert {
    border-radius: 15px;
    max-width: inherit;
    width: calc(100% - 2rem);
}

#result {
    cursor: auto;
    padding-right: 3rem;
}

.result-copy-button {
    top: 20px;
    right: 20px;
    font-size: 25px;
    color: rgb(115, 152, 164);
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        color: #A5D7E8;
    }
}

#historyModal{
    textarea{
        background-color: #0B2447;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        border-radius: 20px;
        resize: none;
        outline: none;
        border: none;
        padding: 1rem;
        height: 100%;
        width: 100%;
        min-height: 320px;
    }
}
